---
import Logo from "@/components/Logo.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import config from "@/config/config.json";
import { IoSearch } from "react-icons/io5/index.js";

---

<header class="header z-30">
  <nav class="navbar container">
    <div class="order-0">
      <Logo />
    </div>
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      for="nav-toggle"
      class="order-3 cursor-pointer flex items-center lg:hidden text-dark dark:text-white lg:order-1"
    ></label>
    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      <ThemeSwitcher className="mr-5" />
      <a class="btn btn-outline-primary btn-sm hidden lg:inline-block"
            href="https://github.com/orgs/SuperSonicNASA/repositories">
            
            Repo Link
          </a>
    </div>
  </nav>
</header>;
